{% extends 'base.html' %}
{% load posts_tags %}
{% block title %}{{action}} post #{{post.id}}{% endblock %}
{% block body %}
<div id="htmlPreview">
{% for topic in post.topic_set.all %}
{% include 'posts/topic.html' %}
{% endfor %}</ul>
{% include 'posts/post.html' %}
</div>

{% include 'posts/post_editor.html' %}

{% if post.id %}
<script>
function savePagePosition() {
    localStorage.setItem("pageYOffset", window.pageYOffset);
}
function restorePagePosition() {
    var y = localStorage.getItem("pageYOffset");
    window.scrollTo(0, y);
}
window.onunload = savePagePosition;
restorePagePosition();
tab1.checked = true;
</script>
{% endif %}

{% endblock %}
