{% load posts_tags %}
<div class="post" id="{{post.id}}" data-url="{% url 'posts-edit' post.id %}">

<small>

<span>{{post.author}}</span>
{% if post.author.profile.is_online %}
<span class="online-indicator">●</span>
{% endif %}
<span>{{post.created_at}}</span>
<a href="{{post.get_absolute_url}}">detail</a>
{% if forloop %}
<span>#{{forloop.counter}}</span>
{% endif %}

{% if post.author.profile.avatar.raw %}
<a href="/uploads/{{post.author.profile.avatar.raw}}">
<img class="avatar" src="/uploads/{{post.author.profile.avatar.thumbnail}}" width="40px"/>
</a>
{% endif %}

</small>

<p class="breakable">{{post.content|linebreaksbr|bleach}}</p>

{% if topic and post.author == request.user %}
<a href="{% url 'posts-squash' post.id %}">^</a>
{% endif %}

</div>
