<form id="quickpost" method="post" onsubmit="return query(true)" action="#latest">
{% csrf_token %}
<input name="content" autofocus autocomplete="off" />
<input type="submit" value="Quickpost" />
</form>
<script>
function createOrUpdate(slug) {
    var existing = document.getElementById(slug.id);
    if (!existing) {
        container.innerHTML += "<hr>" + slug.html;
    } else {
        existing.outerHTML = slug.html;
    }
}
function load() {
    var atBottom = window.scrollY + window.innerHeight > latest.offsetTop;
    JSON.parse(this.response).forEach(createOrUpdate);
    latest.innerHTML = (new Date()).toISOString();
    if (atBottom) {
        latest.scrollIntoView();
    }
}
function query(isSubmission) {
    var payload = "topic={{topic.id}}"
    payload += "&csrfmiddlewaretoken="+quickpost.csrfmiddlewaretoken.value;
    payload += "&timestamp="+latest.innerHTML;
    if (isSubmission) {
        payload += "&content="+quickpost.content.value;
        quickpost.content.value = '';
    }
    var xhr = new XMLHttpRequest();
    xhr.open("post", "{% url 'posts-ajax' topic.id %}", true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhr.send(payload);
    xhr.onload = load;
    return false
}
window.setInterval(query, 5000);
</script>
