{% load humanize %}
<div class="topic{% if topic.unseen_count %} unseen{% endif %}" id="{{topic.id}}">

{% spaceless %}
<a href="{{topic.get_absolute_url}}#latest">
<span class="topic-status">
<div>{{topic.unseen_count}} new</div>
<small>{{topic.post_count}} post{{topic.post_count|pluralize}}</small>
</span>
</a>
{% endspaceless %}

<a href="{{topic.get_absolute_url}}">
<div>{{topic.name}}</div>
<small>
<div>
last post {{topic.last_post.created_at|naturaltime}}
by {{topic.last_post.author}}
{% if topic.last_post.author.profile.is_online %}
<span class="online-indicator">●</span>{% endif %}
</div>
<div><i>{{topic.tags_as_string}}&nbsp;</i></div>
</small>
</a>

</div>
