{% load humanize %}
<div class="topic {{topic.tags_as_string}}" id="{{topic.id}}">

{% spaceless %}
<a href="{{topic.get_absolute_url}}#latest">
<span class="topic-status">
<div>{{topic.unseen}} new</div>
<small>{{topic.posts.count}} post{{topic.posts.count|pluralize}}</small>
</span>
</a>
{% endspaceless %}

<a href="{{topic.get_absolute_url}}">
{{topic.name}}
<br>
<small>
by {{topic.author}}
{% if topic.author.profile.is_online %}<span class="online-indicator">●</span>{% endif %}
| last post {{topic.posts.last.created_at|naturaltime}}
<i>{{topic.tags_as_string}}</i>
</small>
</a>

</div>
