{% extends 'base.html' %}
{% load humanize %}
{% block actions %}
<a href="{% url 'topics-new' %}">new</a>
{% endblock %}
{% block body %}
{% for topic in topic_list %}
<p>
<span class="badge" data-badge="1" style="float: right;">
<a href="{{topic.get_absolute_url}}#latest">{{topic.posts.count}}</a>
</span>
{% spaceless %}
<a href="{{topic.get_absolute_url}}">{{topic.name}}</a>
<a href="{{topic.get_absolute_url}}#latest">&gt;&gt;</a>
<small>
{{topic.author}}
{% if topic.tags.count %}
({{topic.tags_as_string}})
{% endif %}
</small>
{% endspaceless %}<br>
{{topic.posts.last.created_at|naturaltime}}
</p>
{% endfor %}
</div>
{% endblock %}
