{% extends 'base.html' %}
{% block actions %}
<a href="{% url 'topics-new' %}">new</a>
{% endblock %}
{% block body %}
{% for topic in topic_list %}
<p>
<span style="float: right;">{{topic.posts.last.created_at|timesince}} ago</span>
{% spaceless %}
<a href="{{topic.get_absolute_url}}">&lt;&lt;</a>
<a href="{{topic.get_absolute_url}}#latest">{{topic.name}}</a>
<a href="{{topic.get_absolute_url}}#latest">&gt;&gt;</a>
{% endspaceless %}
<small>{{topic.author}}</small>
</p>
{% endfor %}
</div>
{% endblock %}
