<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
<title>forum.roderic.ca</title>
<style>
.avatar { float: right; }
a, sup { color: red; }
#quickpost { position: fixed; bottom: 0; }
</style>
</head>
<body>
{% block nav %}
<nav>
<a href="{% url 'new' %}">new</a>
<a href="{% url 'posts' %}">top</a>
<a href="{% url 'posts' %}#latest">latest</a>
<a href="{% url 'profile' %}">profile</a>
<a href="{% url 'user_list' %}">users</a>
</nav>
{% endblock %}
{% block body %}
This is the base template. Add a body block!
{% endblock %}
</body>
</html>
