<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
<title>forum.roderic.ca</title>
<style>
.avatar { float: right; }
a, sup { color: red; }
#quickpost { position: fixed; bottom: 0; }
code { font-family: monospace; }
pre { overflow: auto; width: 95%; }
spoiler { color: white; } /* should be same as background */
</style>
</head>
<body>
{% block nav %}
<nav>
{% block actions %}
{% endblock %}
<a href="{% url 'topics-list' %}">topics</a>
<a href="{% url 'profile' %}">profile</a>
</nav>
{% endblock %}
{% block body %}
This is the base template. Add a body block!
{% endblock %}
</body>
</html>
