<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
<title>forum.roderic.ca</title>
<link rel="stylesheet" href="/static/spectre.min.css"/>
<style>
body { padding: 0px 3px; margin: 0px auto; max-width: 600px; }
.avatar { float: right; }
#quickpost { position: fixed; bottom: 0; }
textarea { display: block; width: 22em; height: 8em; }
code { font-family: monospace; }
pre { overflow: auto; width: 95%; }
spoiler { color: white; } /* should be same as background */
</style>
</head>
<body>
{% block nav %}
<nav>
{% block actions %}
{% endblock %}
<a href="{% url 'topics-list' %}">topics</a>
<a href="{% url 'tags-list' %}">tags</a>
<a href="{% url 'profile' %}">profile</a>
{% if request.user.is_superuser %}
<a href="{% url 'images-list' %}">images</a>
<a href="{% url 'user-list' %}">users</a>
{% endif %}
</nav>
{% endblock %}
{% block body %}
This is the base template. Add a body block!
{% endblock %}
</body>
</html>
