{% extends 'base.html' %}
{% block actions %}
<a href="{% url 'user-list' %}">users</a>
{% endblock %}
{% block body %}
<p>welcome, {{request.user}}!</p>
{% with count=request.user.post_set.count %}
<p>{{count}} post{{count|pluralize}}</p>
{% endwith %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<p><img src="/uploads/{{profile.avatar}}" width="100px"/></p>
<p><input name="avatar" type="file" /></p>
<p><select name="timezone">
{% for tz in timezones %}
<option value="{{tz}}"{% if tz == profile.timezone %} selected {% endif %}>
{{tz}}
</option>
{% endfor %}
</select></p>
<input type="submit" value="Update">
</form>
<nav>
<a href="{% url 'change-password' %}">change password</a>
<a href="{% url 'logout' %}">logout</a>
</nav>
{% endblock %}
