{% extends 'base.html' %}
{% block body %}
<p>welcome, {{request.user}}!</p>
{% with count=request.user.post_set.count %}
<p>{{count}} post{{count|pluralize}}</p>
{% endwith %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<p><img src="/uploads/{{profile.avatar}}" width="100px"/></p>
<p><input name="avatar" type="file" /></p>
<input type="submit" value="Update">
</form>
<nav>
<a href="{% url 'change_password' %}">change password</a>
<a href="{% url 'logout' %}">logout</a>
</nav>
{% endblock %}
