{% block body %}
<style>
html, body { white-space: nowrap; text-align: right; }
</style>

<form id="new" method="post" enctype="multipart/form-data" hidden>
{% csrf_token %}
<input id="realUploadButton" type="file" name="raw" hidden/>
<input id="submitButton" type="submit" value="Upload" />
</form>

<svg width="70" height="70" id="uploadButton">
<rect width="70" height="70" style="fill: #ddd;" />
<rect x="17" y="7" width="6" height="26" style="fill: #aaa;" />
<rect x="7" y="17" width="26" height="6" style="fill: #aaa;" />
</svg>

{% for image in image_list %}
<br><img src="/uploads/{{image.thumbnail}}" width="70" />
<!-- &lt;img src="https://forum.roderic.ca/uploads/{{image.raw}}"/&gt; -->
{% if false and request.user.is_superuser %}
<form method="post" action="{% url 'images-delete' image.id %}">
{% csrf_token %}
<input type="submit" value="Delete" />
</form>
{% endif %}
{% endfor %}

<script>
realUploadButton.onchange = function() { submitButton.click() }
uploadButton.onclick = function() { realUploadButton.click() }
</script>
{% endblock %}
